body{
  padding: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#keyboard {
  display: block;
  border: 2px solid black;
  padding: 5px;
}
#keyboard::after {
  content: "";
  display: block;
  clear: both;
}

.k-key {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;


  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  float: left;
}

.k-key:hover {
  background-color: #a8a6a7;
}

.k-key:active{
  background-color: #a8a6a7;
  box-shadow:0 1px #666;
  transform: translateY(4px);
}

.clearfix{
  display: block;
  width: 100%;
  clear: both;
}

#input {
  border: 1px solid black;
  height: 200px;
  width: 946px;
}

#key12 {
  width: 150px;
}

#key34{
  width: 450px;
  margin: 5px  25%;
  text-align: center;
  top: 50%;
}